{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
        },
        "ecmaVersion": "latest",
        "sourceType": "module",
        "project": "./tsconfig.json",
    },
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "jest": true,
        "node": true,
    },
    "plugins": ["react", "import", "jsx-a11y", "prettier", "@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:@typescript-eslint/recommended",
        "airbnb",
        "plugin:import/errors",
        "plugin:jsx-a11y/recommended",
        "plugin:prettier/recommended",
    ],
    "settings": {
        "react": {
            "version": "detect",
        },
    },
    "ignorePatterns": ["tailwind.config.js", "postcss.config.js"],
    "rules": {
        "indent": ["warn", 4],
        "quotes": ["warn", "double"],
        "react/react-in-jsx-scope": "off",
        "react/jsx-uses-react": "off",
        "no-console": "off",
        "react/jsx-filename-extension": "off",
        "import/no-extraneous-dependencies": "off",
    },
}
